/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

body {
	margin: 0;
	padding: 0;
  	color: #333;
  	font-family: arial, helvetica, sans-serif;
  	font-size: 13px;
  	line-height: 18px;
}

table {
	border-spacing: 0;
}

p {
	margin-top: 2px;
}

p.results {
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 15px;
}

ul {
	margin-top: 2px;
}

.date {
	color: #999;
}

.header {
	background: #385c78;
/*	border-top: 9px solid #99cc33;*/
	height: 210px;
}

.header .container {
	background: #1f3241;	
}

.container {
	width: 1000px;
	margin: 0 auto;
	padding: 20px 0;
}

.logo {
	text-align: center;
	margin-bottom: 20px;
}

.left_col {
	width: 180px;
	padding: 20px 20px 0 0;
	float: left;
}

.left_col a {
	font-size: .9em;
}

.mid_col {
	float: left;
	width: 578px;
	border-right: 1px #c4c4c4 solid;
	border-left: 1px #c4c4c4 solid;
}

.mid_col .sub_header {
	float: left;
	padding: 10px 20px;
	border-bottom: 1px #c4c4c4 solid;
	width: 538px;
	background: #ededed;
}

.mid_col .content {
	float: left;
	width: 538px;
	padding: 10px 20px;
}

.right_col {
	width: 160px;
	padding-left: 20px;
	padding-top: 20px;
	float: left;
}

.footer {
	border-top: 1px #c4c4c4 solid;
	height: 50px;
	padding: 20px 0;
	clear:both;
	text-align: center;
}

a {
	color: #0385F1;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.left_col label {
	font-weight: bold;
}

.left_col ul {
	margin-left: 0;
	padding-left: 0;
	margin-bottom: 20px;
}

.left_col ul li {
	margin-left: 0;
	padding-left: 0;
	text-decoration: none;
	display: block;
}

.search {
	margin: 0 auto;

	padding: 20px;
	width: 640px;
	background: #121d26;
}

form .search_field {	
	float: left;
	margin-right: 10px;
}

form .search_field_last {	
	float: left;
	width: 130px;
}

.search form label {
	font-size: 1.2em;
	color: white;
	float: left;
	font-weight: bold;
	margin-bottom: 5px;
}

.search form .hint {
	font-size: 0.8em;
	color: #c7cccf;
	margin-left: 10px;
}

.search form input {
	padding: 5px;
	font-size: 1.1em;
	float: left;
	width: 230px;
	height: 20px;
}

.search form input.submit {
	width: 120px;
	height: 35px;
	margin-top: 15px;
	
}

.copyright {
	font-size: .8em;
}

.ad_skyscraper {
	width: 160px;
	height: 500px;
}

.ad_square {
	width: 560px;
	height: 334px;
}

.ad {
	margin-bottom: 10px;
}

.ad p {
	line-height: 1.1em;
	margin: 0;
}

.ad a.small {
	font-size: .8em;
	color: #008000;
}

.ad_small a.google {
	color: black;
	text-decoration: underline;
	display: block;
	font-weight: bold;	
	margin-bottom: 5px;
}
.ad_small a.ad {
	display: block;
	font-size: 1.2em;
	text-decoration: underline;
}