/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	margin: 0;
	padding: 0;
  	color: #333;
  	font-family: verdana, arial, helvetica, sans-serif;
  	font-size: 13px;
  	line-height: 18px;
}


.container {
	width: 1000px;
	margin: 0 auto;
}

.header {
	background: #1f3241;
	border-top: 9px solid #99cc33;
	height: 50px;
	padding: 20px 0;
}

.left_col {
	width: 180px;
	padding: 20px 20px 0 0;
	float: left;
}

.mid_col {
	float: left;

	width: 578px;
	border-right: 1px #c4c4c4 solid;
	border-left: 1px #c4c4c4 solid;
}

.mid_col .sub_header {
	float: left;
	padding: 10px 20px;
	border-bottom: 1px #c4c4c4 solid;
	width: 538px;
}

.mid_col .content {
	float: left;
	padding: 10px 20px;
}

.right_col {
	width: 160px;
	padding-left: 20px;
	float: right;
}

.footer {
	border-top: 1px #c4c4c4 solid;
	height: 50px;
	padding: 20px 0;
	clear:both;
	text-align: center;
}

a {
	color: #0385F1;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.left_col label {
	font-weight: bold;
}

.left_col ul {
	margin-left: 0;
	padding-left: 0;
}

.left_col ul li {
	margin-left: 0;
	padding-left: 0;
	text-decoration: none;
	display: block;
}

form.search {
	display: inline;
}

form.search label {
	margin-left: 40px;
	font-size: 1.2em;
	color: white;
}

form.search input {
	padding: 5px;
	font-size: 1.2em;
}

.copyright {
	font-size: .8em;
}
